{% extends "base.html.twig" %}

{# Delete header #}
{% block header %}{% endblock %}

{% block body %}
    <div class="col-md-12">
        {% if bridges %}
            <p>Choose your bridge:</p>

            {% for bridge in bridges %}
                <form action="{{ path('hue_choose_bridge_save') }}" method="post">
                    <input type="hidden" name="_host" value="{{ bridge.internalipaddress }}">
                    <button type="submit" class="btn btn-primary btn-block">{{ bridge.internalipaddress }}</button>
                </form>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
